@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
// font styles
$Roboto: "Roboto", sans-serif;
$DM-sans: "DM Sans", sans-serif;
// font sizes
$font-18: 18px;
$font-14: 14px;
$font-12: 12px;
$font-13: 13px;
$font-18: 18px;
$font-16: 16px;
$font-17: 17px;
$font-23: 23px;
$font-30: 30px;

// color
$color-1: #ffffff;
$color-2: #fafafa;
$color-3: #2148b1;
$color-4: #8e9094;
$color-5: #000000;
$color-6: #ff5127;
$color-7: #020812;
$color-8: #676a70;
$color-9: #f2f4fa;
$color-10: #f5f7ff;
$color-11: #708ee0;
$color-12: #4169d5;
$color-13: #f2f5fd;
$color-14: #dee2e6;
$color-15: #19ad39;
$color-16: #fd5d5d;
$color-17: #343941;
$color-18: #fed12f;
$color-19: #4ebcfd;
$color-20: #fd6059;
$color-21: #181616;
$color-22: #638cea;
$color-23: #dbe3f7;
$color-24: #f3f5fc;
$color-25: #adb7c9;
$color-26: #4376ff;
$color-27: #6ff3fe;
$color-28: #9981fc;
$color-29: #62a4fc;
$color-30: #5443c6;
$color-31: #6d7788;

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  list-style-type: none;
}

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.first-row {
  background-color: $color-1;
}

.second-row {
  // background-color: $color-2;
  background-color: mediumpurple;
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 0;
  position: relative;
}

#sidebar {
  // margin-left: 0rem;
  background: $color-3;
  transition: all 0.3s;
  opacity: 1;
  width: 120px;
}

#sidebar.toggled {
  max-width: 0px;
  overflow-x: hidden;
  z-index: 1;
}

.sidebar-menu {
  display: flex;
  // padding: 35px;
  flex-direction: column;
  margin: 20px 20px 0 -15px;
  font-size: $font-14;
}

.no-children {
  text-align: center;
}

.image-icons {
  margin: 0 0 10px 0;
}

.sidebar-menu li {
  margin: 0 0 40px 0;

  a {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}

.item-name {
  color: $color-1;
}

#content {
  width: 100%;
  padding: 25px;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.btn-info.focus,
.btn-info:focus {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}

.btn-info:hover {
  /* color: #fff; */
  background-color: transparent;
  border-color: transparent;
}

.btn.focus,
.btn:focus {
  outline: 0;
  border: none !important;
  box-shadow: none;
}

.btn-info {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}

span.logo {
  padding: 25px 15px;
}

span.heading {
  padding: 2rem 0;
  font-size: $font-16;
  font-weight: 500;
}

.search-col {
  color: $color-5;
  margin: 25px 0;

  input {
    border: none;
    color: $color-4;
    font-size: $font-16;
    outline: none;
  }
}

.top-right {
  // padding: 24px;
  display: flex;
  align-items: center;
  float: right;
  margin: 14px 20px;
}

.notif {
  margin: 0 33px 0 0;
}

.bell-dot {
  height: 6px;
  width: 6px;
  float: right;
  margin: 5px 0 0 -7px;
  /* margin: -20px 91px 0 8px; */
  display: flex;
  background: $color-6;
  border-radius: 50%;
}

.user-name {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 9px;
}

span.user {
  font-size: $font-14;
  color: $color-7;
}

span.position {
  font-size: $font-12;
  color: $color-7;
  opacity: 0.6;
}

h3.mb-3.dashboard-heading {
  font-size: $font-18;
  font-weight: 700;
  color: $color-7;
}

.col-md-4.col-sm-6.login {
  font-size: $font-12;
  color: $color-8;
}

span.login-desc {
  float: right;
  margin-right: 14px;
}

.row.main-content-row {
  padding: 1rem;
  flex-wrap: nowrap;
}

.main-content-row .card {
  flex-direction: row;
  background-color: $color-1;
  border: none;
  width: 100%;
  border-radius: 0;
  padding: 1rem 1rem 0;
}

span.round-1 {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background-color: $color-9;
}

img.card-img-left {
  margin: 19px -1px 0 19px;
}

.main-content-row .card-body {
  flex: 1 1 auto;
  min-height: 2px;
  padding: 0px 0px 0 9px;
}

p.card-title {
  font-size: $font-14;
  color: $color-7;
  font-weight: 500;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 14px;
}

p.card-text {
  font-size: $font-30;
  margin-bottom: 14px;
  color: $color-7;
  font-weight: 700;
}

.card:hover {
  background-color: $color-10;
}

span.round-1:hover {
  background-color: $color-1;
}

.row.table-header-row {
  padding: 1rem;
  justify-content: space-between;
  /* margin: 1rem; */
}

h5.schedule {
  font-size: $font-16;
  font-weight: 500;
}

.table-rigt-sec {
  display: flex;
}

span.value {
  width: 27px;
  /* height: 17px; */
  padding: 0 4px;
  color: $color-1;
  background-color: $color-11;
  border-radius: 50px;
}

span.followup,
span.followup2 {
  font-size: $font-12;
  margin-left: 7px;
  width: 109px;
  height: 22px;
  color: $color-12;
  text-align: center;
  border-radius: 50px;
  border: 1px solid $color-11;
}

span.followup2 {
  border: none;
  background-color: $color-13;
}

span.up-down {
  padding-left: 1rem;
}

.table-row {
  background-color: $color-1;
  margin: 20px 0;
}

.enquiry-table td,
.enquiry-table th {
  padding: 0.75rem;
  vertical-align: middle;
  color: $color-7;
  border-top: 1px solid $color-14;
  font-size: $font-14;
}

.enquiry-table th {
  border-top: none;
}

td.id {
  color: $color-12;
  font-weight: 500;
}

.followup3 span {
  /* width: 138px; */
  color: $color-12;
  /* height: 25px; */
  border-radius: 50px;
  font-weight: 500;
  font-size: $font-12;
  padding: 4px 8px;
  background-color: $color-13;
}

span.today {
  font-size: 10px;
  color: $color-8;
}

img.call {
  margin-right: 7px;
}

span.dot1 {
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 50px;
  background-color: $color-15;
}

td.status {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 18px;
}

span.active {
  margin: -14px 0 0 14px;
  color: $color-7;
}

.inactive-row span.dot1 {
  background-color: $color-16;
}

.inactive-row span.active {
  color: $color-16;
}

.row.bg-white {
  margin: 0.1rem;
}

.right-col {
  padding: 1rem;
}

.pie-col {
  background-color: $color-1;
  padding: 1rem;

  .enquiries {
    display: flex;
    justify-content: space-between;
    color: $color-7;
    font-size: $font-16;

    h6 {
      font-weight: 600;
    }
  }

  .last-6 {
    color: $color-8;
    font-size: $font-14;
  }

  .pie-chart {
    display: block;
    margin: 20px auto;
  }

  .marker-row {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

    h6 {
      font-weight: 400;
      color: $color-17;
      font-size: $font-14;
    }
  }

  .assigned {
    width: 20px;
    border-top: 4px solid $color-18;
    margin: 0 -20px 0 0;
  }

  .opened {
    width: 20px;
    border-top: 4px solid $color-19;
    margin: 0 -20px 0 0;
  }

  .closed {
    width: 20px;
    border-top: 4px solid $color-20;
    margin: 0 -20px 0 0;
  }

  .percentage-row {
    display: flex;
    justify-content: space-around;

    h6 {
      font-weight: 400;
      color: $color-21;
      font-size: $font-17;
      margin: 0 -35px 0 0;
    }
  }
}

.calendar-col {
  margin: 10px 0 0 0;
  background-color: $color-1;

  .caption-top {
    caption-side: top;
    color: $color-7;

    .caption-left {
      float: left;
      font-size: $font-16;
      font-weight: 600;
    }

    .caption-right {
      float: right;
      font-size: $font-14;
    }
  }

  .caption-bottom {
    caption-side: bottom;
    color: $color-8;
    font-size: $font-12;
    margin: 5px 0 0 0;

    .follow-round {
      background-color: $color-15;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 2px 4px;
      margin: 0 6px 0 0;
    }

    .virtual-round {
      background-color: $color-22;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 2px 3px;
      margin: 0 6px 0 10px;
    }
  }
}

.calendar-table {
  border-collapse: collapse;
  background: $color-1;
  margin: 0 auto;
  font-size: $font-13;
  text-align: right;

  thead {
    border-bottom: 1px solid $color-23;
  }

  th {
    font-weight: bold;
    background-color: $color-24;
    color: $color-7;
  }

  td {
    color: $color-7;
    background-color: $color-1;
  }

  .muted {
    color: $color-25;
  }

  .select-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-23;
    color: $color-26;
    padding: 6px 6px;
  }

  .green-round {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $color-15;
    display: inline-block;
  }

  .blue-round {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $color-26;
    display: inline-block;
  }

  .last-row {
    border-bottom: 1px solid $color-23;
  }
}

.chart-col {
  background-color: $color-1;
  padding: 1rem;

  .conversion {
    display: flex;
    justify-content: space-between;
    color: $color-7;
    font-size: $font-16;

    h6 {
      font-weight: 600;
    }
  }

  .last-6 {
    color: $color-8;
    font-size: 14px;
  }

  .line-chart {
    display: block;
    margin: 20px auto;
  }

  .chart-marker-row {
    flex-wrap: nowrap;
    margin: 15px;
  }

  .card {
    flex-direction: row;
    background-color: $color-1;
    border: none;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  .card-body h5 {
    color: $color-21;
    font-size: $font-17;
    font-weight: 400;
    margin: 0 0px 20px 20px;
  }

  .card-body h6 {
    font-size: $font-14;
    color: $color-17;
    font-weight: 400;
  }

  .card-body h6.enroll:before {
    content: "";
    display: inline-block;
    border: 2px solid $color-27;
    width: 10%;
    margin: 0 4px 0 0;
  }

  .card-body h6.inprogress:before {
    content: "";
    display: inline-block;
    border: 2px solid $color-28;
    width: 10%;
    margin: 0 4px 0 0;
  }

  .card-body h6.lead:before {
    content: "";
    display: inline-block;
    border: 2px solid $color-29;
    width: 10%;
    margin: 0 4px 0 0;
  }

  .card-body h6.response:before {
    content: "";
    display: inline-block;
    border: 2px solid $color-30;
    width: 10%;
    margin: 0 4px 0 0;
  }
}

footer .row {
  background-color: $color-1;
  padding: 17px;
  font-size: $font-12;
  display: flex;
  margin: 0px -6px -20px -20px;
  justify-content: flex-end;
  color: $color-31;

  span {
    font-weight: 700;
  }
}

@media screen and(max-width:1024px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  .navbar {
    margin: 0 0 0 -15px;
  }

  .first-row .search-col {
    margin: 25px -13px 0 0px;
  }

  .first-row .top-right {
    margin: 14px -20px 14px 0px;
  }
  .chart-col .line-chart {
    width: 450px;
  }
  .main-content-row .card {
    width: 50%;
    padding: 1rem;
  }
  .row.main-content-row {
    flex-wrap: wrap;
  }
  .pie-col .pie-chart {
    width: 160px;
  }
  .chart-col .chart-marker-row {
    flex-wrap: wrap;
    margin: 18px 42px;
  }
  .chart-col .card {
    width: 50%;
  }
  footer .row {
    margin: 0px -24px -20px -25px;
  }
  span.up-down {
    padding-left: 0.4rem;
  }
}

@media screen and(max-width:479px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }

  .line-chart {
    width: 330px;
  }

  .row.main-content-row {
    flex-wrap: wrap;
  }
  .first-row .top-right {
    margin: -109px -1px -4px;
  }

  .first-row .search-col {
    margin: -1px 15px 25px 25px;
  }
  .chart-col .chart-marker-row {
    flex-wrap: wrap;
  }
  span.followup,
  span.followup2 {
    margin-left: 0;
  }
  .calendar-table td {
    padding: 6px;
  }
  span.up-down {
    padding-left: 0.4rem;
  }
}
